body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.restaurant-list {
    list-style: none;
    padding: 0;
}
.restaurant-list li {
    padding: 10px;
    font-size: 30px;
    font-family: Aldhabi;
    background-color: blue;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.restaurant-list li:hover {
    background-color: #e5533d;
}